@import "../../scss/mixins";

.sky-tab-button-close {
  color: $sky-text-deemphasized-color;
  line-height: 1.4;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-text-deemphasized-focus-color;
    transition: color $sky-transition-time-short;
  }
}

.sky-tab-button-selected {
  .sky-tab-button-close {
    color: #fff;
  }
}
