@import '../../scss/mixins';

.sky-label {
  background-color: $sky-neutral-background-light-color;
  color: $sky-text-deemphasized-color;
  display: inline;
  border-radius: 10rem;
  font-weight: 600;
  line-height: 2.2;
  margin: 0 3px;
  padding: .2em .6em .3em .6em;
  white-space: nowrap;
}

.sky-label-success {
  color: $sky-text-color;
  background-color: $sky-success-background-color;
}

.sky-label-info {
  color: $sky-text-color;
  background-color: $sky-primary-background-light-color;
}

.sky-label-warning {
  color: $sky-text-color;
  background-color: $sky-warning-background-color;
}

.sky-label-danger {
  color: $sky-text-color;
  background-color: $sky-danger-background-color;
}
