@import "mixins";
@import "variables";

.sky-btn {
  background-color: transparent;
  @include sky-border(light, top, right, bottom, left);
  border-radius: 3px;
  color: $sky-text-color;
  cursor: pointer;
  white-space: nowrap;
  outline-offset: -2px;
  padding: 6px 12px;

  &:hover {
    @include sky-border(dark, top, right, bottom, left);
    color: $sky-text-color;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none;
  }
}

.sky-btn-default {
  background-color: #fff;
}

.sky-btn-primary {
  @include button-variant(#fff, $sky-primary-background-dark-color, $sky-primary-background-dark-color);
  }

.sky-btn-tab {
  @include sky-btn-tab();
}

.sky-btn-tab-close {
  background-color: transparent;
  border: none;
  color: $sky-text-deemphasized-color;
  cursor: pointer;
  line-height: 1.4;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-text-deemphasized-focus-color;
    transition: color $sky-transition-time-short;
  }
}

.sky-btn-tab-selected {
  @include sky-btn-tab-selected;

  .sky-btn-tab-close {
    color: #fff;
  }
}
