$sky-font-family-base: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$sky-font-family-narrow: 'Oswald', sans-serif !default;

$sky-padding: 10px !default;
$sky-padding-half: $sky-padding / 2 !default;
$sky-padding-double: $sky-padding * 2 !default;
$sky-padding-plus-half: $sky-padding + $sky-padding-half !default;
$sky-padding-3_4: floor(($sky-padding * 0.75)) !default;

$sky-margin: 10px !default;
$sky-margin-half: $sky-margin / 2 !default;
$sky-margin-double: $sky-margin * 2 !default;
$sky-margin-triple: $sky-margin * 3 !default;

// begin color gradients - do not use these directly
$sky-color-blue-10: #c1e8fb;
$sky-color-blue-30: #81d4f7;
$sky-color-blue-50: #00b4f1;
$sky-color-blue-70: #007ca6;

$sky-color-green-30: #b7da9b;
$sky-color-green-50: #72bf44;

$sky-color-yellow-30: #ffd597;
$sky-color-yellow-50: #fbb034;

$sky-color-red-30: #f7a08f;
$sky-color-red-50: #ef4044;

$sky-color-teal-50: #00b795;
$sky-color-teal-70: #00866d;

$sky-color-white: #fff;

$sky-color-purple-10: #f1eef6;
$sky-color-purple-50: #936daf;

$sky-color-gray-01: #fbfbfb;
$sky-color-gray-05: #eeeeef;
$sky-color-gray-10: #e2e3e4;
$sky-color-gray-20: #cecfd2;
$sky-color-gray-70: #6f737a;
$sky-color-gray-80: #4d525a;
$sky-color-gray-100: #282b31;
// end color gradients

// begin color variables - use these for applying color
$sky-primary-highlight-color: $sky-color-blue-50 !default;
$sky-primary-background-light-color: $sky-color-blue-30 !default;
$sky-primary-background-dark-color: $sky-color-blue-70 !default;

$sky-success-highlight-color: $sky-color-green-50 !default;
$sky-success-background-color: $sky-color-green-30 !default;

$sky-warning-highlight-color: $sky-color-yellow-50 !default;
$sky-warning-background-color: $sky-color-yellow-30 !default;

$sky-danger-highlight-color: $sky-color-red-50 !default;
$sky-danger-background-color: $sky-color-red-30 !default;

$sky-body-background-color: $sky-color-gray-01 !default;

$sky-text-color: $sky-color-gray-100 !default;
$sky-text-deemphasized-color: $sky-color-gray-70 !default;
$sky-text-deemphasized-focus-color: $sky-color-gray-80 !default;

$sky-selected-color: $sky-color-purple-10 !default;

$sky-link-color: $sky-color-blue-70 !default;

$sky-border-color: $sky-color-gray-20 !default;
$sky-border-light-color: $sky-color-gray-10 !default;

$sky-neutral-background-color: $sky-color-gray-20; // do not use if there will be deemphasized text on this background
$sky-neutral-background-light-color: $sky-color-gray-01;
// end color variables

// begin old color variables - DEPRECATED
$sky-color-green: $sky-color-green-50 !default;
$sky-color-blue: $sky-color-blue-50 !default;
$sky-color-aqua: $sky-color-teal-50 !default;
$sky-color-yellow: $sky-color-yellow-50 !default;
$sky-color-red: $sky-color-red-50 !default;
$sky-color-white: #fff !default;
$sky-color-purple: $sky-color-purple-50 !default;

$sky-color-gray: $sky-color-gray-70 !default;
$sky-color-gray-light: $sky-color-gray-70;
$sky-color-gray-lighter: $sky-color-gray-20 !default;
$sky-color-gray-lightest: $sky-color-gray-10 !default;
// end old color variables

$sky-nav-background-color: #2f4050 !default;
$sky-nav-color: #a7b1c2 !default;
$sky-nav-selected-color: $sky-color-white !default;
$sky-nav-selected-background-color: #293846 !default;
$sky-nav-item-padding: 16px !default;
$sky-nav-selected-border-width: 4px !default;

$sky-font-size-base: 14px !default;

$sky-font-size-xxxl: floor(($sky-font-size-base * 3.5)) !default; // ~42px
$sky-font-size-xxl: floor(($sky-font-size-base * 2.5)) !default; // ~30px
$sky-font-size-xl: floor(($sky-font-size-base * 1.333)) !default; // ~16px
$sky-font-size-lg: ceil(($sky-font-size-base * 1.07)) !default; // ~14px
$sky-font-size-sm: ceil(($sky-font-size-base * 0.833)) !default; // ~10px

$sky-alternate-font-size-xxxl: floor(($sky-font-size-base * 4)) !default; // ~48px
$sky-alternate-font-size-xxl: floor(($sky-font-size-base * 3.5)) !default; // ~42px
$sky-alternate-font-size-xl: floor(($sky-font-size-base * 2.333)) !default; // ~28px
$sky-alternate-font-size-lg: ceil(($sky-font-size-base * 2)) !default; // ~24px
$sky-alternate-font-size-base: ceil(($sky-font-size-base * 1.833)) !default; // ~22px
$sky-alternate-font-size-sm: ceil(($sky-font-size-base * 1.667)) !default; // ~20px



// begin transitions
$sky-transition-time-short: 150ms !default;
$sky-transition-time-medium: 250ms !default;
$sky-transition-time-long: 500ms !default;
// end transitions

//begin tile
$sky-tile-header-tool-padding: $sky-padding-plus-half !default;
$sky-tile-form-background: #F2F2F2 !default;
//end tile

// begin context menu
$sky-context-menu-size: 24px !default;
// end context menu

$sky-screen-sm-min: 768px;
$sky-screen-md-min: 992px;
$sky-screen-lg-min: 1200px;

$sky-screen-xs-max: $sky-screen-sm-min - 1;
$sky-screen-sm-max: $sky-screen-md-min - 1;
$sky-screen-md-max: $sky-screen-lg-min - 1;

// begin color palette
$sky-palette-multi: (
  scale-color($sky-color-blue, $lightness: 8%),
  scale-color($sky-color-yellow, $lightness: 12%),
  scale-color($sky-color-green, $lightness: 8%),
  scale-color($sky-color-purple, $lightness: 26%, $saturation: -30%),
  scale-color($sky-color-aqua, $lightness: 8%),
  scale-color($sky-color-red, $lightness: 12%),
  scale-color($sky-color-gray, $lightness: 28%),
  scale-color($sky-color-blue, $lightness: 48%),
  scale-color($sky-color-yellow, $lightness: 42%),
  scale-color($sky-color-green, $lightness: 48%),
  scale-color($sky-color-purple, $lightness: 56%, $saturation: -30%),
  scale-color($sky-color-aqua, $lightness: 48%),
  scale-color($sky-color-red, $lightness: 42%),
  scale-color($sky-color-gray, $lightness: 48%)
);

$sky-palette-mono: (
  scale-color($sky-color-blue, $lightness: -25%),
  $sky-color-blue,
  scale-color($sky-color-blue, $lightness: 25%),
  scale-color($sky-color-blue, $lightness: 50%),
  scale-color($sky-color-blue, $lightness: 75%)
);
// end color palette

// begin avatar
$sky-avatar-height: 100px !default;
$sky-avatar-width: $sky-avatar-height !default;
$sky-avatar-border-width: 2px !default;
// end avatar

// Support for mozilla in experimental css3 properties (-moz).
$sky-experimental-support-for-mozilla      : true !default;
// Support for webkit in experimental css3 properties (-webkit).
$sky-experimental-support-for-webkit       : true !default;
// Support for opera in experimental css3 properties (-o).
$sky-experimental-support-for-opera        : true !default;
// Support for microsoft in experimental css3 properties (-ms).
$sky-experimental-support-for-microsoft    : true !default;
// Support for khtml in experimental css3 properties (-khtml).
$sky-experimental-support-for-khtml        : false !default;
