@import '../../scss/mixins';

.sky-modal {
  border: @include bb-border(light, top, right, bottom, left);
  @include sky-shadow();
  position: absolute;
  max-width: 600px;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
}

.sky-modal-header,
.sky-modal-content,
.sky-modal-footer {
  background-color: #fff;
  padding: $sky-padding;
}

.sky-modal-header {
  align-items: baseline;
  border: @include bb-border(dark, bottom);
  display: flex;
}

.sky-modal-header-content {
  flex-grow: 1;
}

.sky-modal-header-buttons {
  .sky-btn {
    border: none;
    color: $sky-text-deemphasized-color;

    &:hover {
      color: $sky-text-deemphasized-focus-color;
      transition: color $sky-transition-time-short;
    }
  }
}

.sky-modal-footer {
  border: @include bb-border(dark, top);
}
